name: Lint

on: workflow_call

jobs:
  test:
    name: Eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run lint
        run: yarn run lint
