name: Playwright Tests

on:
  workflow_dispatch: {}
  workflow_call:

jobs:
  test:
    name: Run Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Get installed Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(jq -r '.packages."node_modules/@playwright/test".version' < package-lock.json)" >> "$GITHUB_ENV"
      - name: Cache playwright binaries
        uses: actions/cache@v5
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - run: yarn playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - run: yarn playwright install-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - name: Run Tests
        env:
          PUBLISHING_DOMAIN: ${{ secrets.PUBLISHING_DOMAIN }}
          PUBLIC_DOMAIN: ${{ secrets.PUBLIC_DOMAIN }}
          BASIC_AUTH_USERNAME: ${{ secrets.BASIC_AUTH_USERNAME }}
          BASIC_AUTH_PASSWORD: ${{ secrets.BASIC_AUTH_PASSWORD }}
          SIGNON_EMAIL: ${{ secrets.SIGNON_EMAIL }}
          SIGNON_PASSWORD: ${{ secrets.SIGNON_PASSWORD }}
          NOTIFY_API_KEY: ${{ secrets.NOTIFY_API_KEY }}
          EMAIL_ALERT_EMAIL: ${{ secrets.EMAIL_ALERT_EMAIL }}
          EMAIL_ALERT_PASSWORD: ${{ secrets.EMAIL_ALERT_PASSWORD }}
        run: yarn playwright test
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
